html {
    font-family: Pluto Sans, Helvetica, Arial, sans-serif;
}

.head {
    position: relative;
    width: 100%;
    height: 745px;
}

header {
    z-index: 1002;
    margin: 0 auto;
    padding: 20px 30px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0;
}

.he {
    background-color: #fff;
    z-index: 1002;
}

header .name {
    float: left;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.h1 .name {
    color: #1cba98;
}

.h2 .name {
    color: #fff;
}

header div {
    float: right;
    font-size: 17px;
}

header div .button {
    padding: 7px 26px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 25px;
    text-decoration: none;
}

.h1 div .button {
    border: 2px solid #583378;
    color: #583378;
}

.h1 div .button:hover {
    border: 2px solid #583378;
    ;
    color: #fff;
    background: #583378;
    ;
}

.h1 div .signin {
    color: #1cba98;
}

.h2 div .button {
    border: 2px solid #fff;
    color: #fff;
}

.h2 div .button:hover {
    border: 2px solid #fff;
    color: #1cba98;
    background: #fff;
    ;
}

.h2 div .signin {
    color: #fff;
}

header div .signin {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.overlay {
    background-color: #aaa;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: .8;
}

.imgg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}

.contentHead {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    text-align: center;
}

.contentHead h1 {
    text-align: center;
    margin: 200px auto 40px;
    font-size: 60px;
    color: #fff;
}

.contentHead p {
    font-family: Abril Text, Droid Serif, serif;
    text-align: center;
    margin: 0 auto 70px;
    font-size: 30px;
    color: #fff;
}

@media(max-width:991.5px) {
    .contentHead h1 {
        font-size: 30px;
    }
    .contentHead p {
        font-size: 20px;
    }
}

.contentHead a {
    text-decoration: none;
    font-family: Pluto Sans, Helvetica, Arial, sans-serif;
    padding: 13px 26px;
    color: #1cba98;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

.contentHead a:hover {
    background-color: #1cba98;
    color: #fff;
}

body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.submitt {
    padding: 0px;
    z-index: 2;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
}

.submitt .containerr {
    background-color: #ff6868;
    color: #fff;
    text-align: center;
    padding: 40px 0 20px;
    border-radius: 0px;
}

.submitt .containerr h1 {
    padding: 0 50px;
    font-size: 20px;
    font-weight: bold;
}

.submitt .containerr p {
    margin: 20px 0 40px;
}

.submitt .containerr #signup {
    margin-bottom: 35px;
}

.submitt .containerr form {
    display: none;
    padding-bottom: 40px;
}

.submitt .containerr form input {
    background: none;
    border: none;
    font-family: Pluto Sans, Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #fff;
    border-bottom: 2.5px solid hsla(0, 0%, 100%, .5);
    width: 100%;
    margin-bottom: 30px;
    display: block;
}

.submitt .containerr button {
    background: none;
    border-radius: 25px;
    border: 2px solid #fff;
    padding: 8px 30px;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
}

.submitt .containerr button:hover {
    background-color: #fff;
    color: #ff6868;
}

@media(min-width: 991.5px) {
    .submitt {
        transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -moz-transform: translateY(200px);
        padding: 0 100px;
    }
    .submitt .containerr {
        border-radius: 10px;
    }
    .submitt .containerr form input[name='first_name'] {
        width: 35%;
        margin-right: 2.5%;
        display: inline-block;
    }
    .submitt .containerr form input[name='email'] {
        width: 35%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        display: inline-block;
    }
    .submitt .containerr h1 {
        font-size: 35px;
    }
}


/*--------------------------------------------------------end-submit----------------------------------------------------------*/