<section class="header"  >
  <div class="head"></div>
  <header id='header' class='h2'>
      <a href="#" class='name' id="name">Savvy</a>
      <div class="nav">
          <a href="#" class="button" id='buttonhead'>TEACH</a>
          <a routerLink="/items" routerLinkActive="active"  class="signin" id='signin'>Sign In</a>
      </div>
  </header>
  <div class="contentHead">
      <h1>
          We can learn a lot
          <br>
          from each other
      </h1>
      <p>
          Get personal lessons with amazing teachers
          <br>
          over live, one-to-one video.
      </p>
      <a href="#" id='findyorteacher'>Find Your Teacher</a>
  </div>
  <div class="overlay"></div>
  <script src="../shrouk.js"></script>
</section>