<section class="information">
    <div class="container-fluid">
        <div class="row informationimg">
            <div class='col-lg-4'>
                <img src="../../src/app/img/teachers.PNG" alt="teachers">
            </div>
            <div class="col-lg-7">
                <p class="text">
                    “ My instructor was very knowledgeable and gave me the most amazing tips I have gotten from any training I've ever been through. I can’t wait to book again! ”
                </p>
                <h6>
                    Kimberley I.
                    <br> Learner
                </h6>
            </div>
        </div>
        <div class="row informationtext">
            <div class='col-lg'>
                "Kathryn was so kind and encouraging! It was a brilliant lesson, exactly what I needed and I will undoubtedly be back!"
                <h5>Sarah B.</h5>
                Learner
            </div>
            <div class="col-lg">
                "The lesson was direct, helpful, and awesome. It was quite honestly the best 25 minutes my business has had in awhile."
                <h5>Rebecca W.</h5>
                Learner
            </div>
            <div class="col-lg">
                "I’m so excited about this online coaching platform! With Savvy students can book lessons from ANYWHERE in the world, and it’s all automated!"
                <h5>Molly M.</h5>
                Teacher
            </div>
        </div>
        <div class="row informationboth">
            <div class='col-lg'>
                <img src="../../src/app/img/entrepreenceur.PNG">
                <p>"The difference is that Savvy connects teachers and students one on one. That allows for individually tailored instruction."</p>
            </div>
            <div class="col-lg">
                <img src="../../src/app/img/wirtschafts.PNG">
                <p>"The new platform works like Airbnb – but for personal coaching for topics like 'Mathematics' and 'Spanish' to 'Perfecting your Face' offered by a Hollywood VIP stylist."</p>
            </div>
            <div class="col-lg">
                <img src="../../src/app/img/netted.PNG">
                <p>"Use Savvy to find a professional teacher (with clear pricing) and take lessons from home."</p>
            </div>
        </div>
    </div>
</section>