*{
    padding: 0;
    margin: 0;
}
.link{
    text-decoration: none;
    cursor: pointer;
    color:#583378;

}
.logo{
    width: 100px;
    margin: 20px;

}
.header{
    box-shadow: 0 3px 8px rgba(50,50,50,.17);
}
.fright{
    float: right;
}
.head-text{
    color:#583378;
    margin:30px 20px; 
    font-weight: bold;
}
.margin-pub{
    margin: 10px 5px;
}
.card-img{
    margin: auto;
    width: 90%;
}
.padd-lr{
    padding: 0 100px;
}

a{
    text-decoration: none;
    
}
.footer-text{
    color: #1cba98;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}
.footer-text:hover{
    text-decoration: none;
    color: rgb(98, 208, 241);
}
.footer-head{
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.footer-head:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.col-lg-2{
    margin: 20px 25px; 
}
.footer{
    background-color: #F3FCFA;
}
.overlay{
    background-color: black;
    opacity: 0.4;
    position: absolute;
    width: 100%;
height: 100%;
}
.pub-link:hover .pub-link{
    opacity: 1.0;
}
.row{
    position: relative;

}
.card-text-center{
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    margin-top: 30%;

}


.overlay01{
    background-color: black;
    opacity: 0.4;
    position: absolute;
    width: 78%;
height: 100%;
}

.card-text-center01{
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    margin-top: 30%;

}


.textoverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    
}
.textoverlay01{
    position: absolute;
    width: 77.5%;
    height: 100%;
    z-index: 1000;
}