<header class="header">
    <a href="#" class="link">
        <img src="../../src/app/items/img/logo.png" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle| logo" alt="">
    </a>
    <div class="fright">
        <a [routerLink]="['/signin']" class="link margin-pub">Sign In</a>
    </div>
    <h1 class="head-text">Business</h1>
</header>

<div class="container-fluid">
    <div class="row">
        <p style="padding-left: 30px">Choose a Business subject to find the right teacher for you</p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of Items">
            <div class="card margin-pub ">

                <a [routerLink]="['/searchteacher',item.id]" id="one" style="z-index: 100000; position: absolute; width: 100% ; height: 100%;">
                </a>
                <a [routerLink]="['/searchteacher',item.id]"><img class="card-img" src="../../src/app/items/img/communication.jpg" alt="Card image cap"></a>
                <div class="textoverlay">
                    <h2 class="card-text-center">{{item.name}}</h2>
                </div>
                <div class="overlay" id="img1">
                </div>

            </div>

        </div>

    </div>
</div>
<app-fottor></app-fottor>