
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                   
                <div class="card margin-pub">
                        <a href="#" id="one" style="z-index: 100000; position: absolute; width: 100% ; height: 100%;">                   
                            </a>
                    <a href="#"><img class="card-img" src="../../src/app/items/img/communication.jpg" alt="Card image cap"></a>
                    <div class="textoverlay">
                        <h2 class="card-text-center">Communication</h2>
                    </div>
                    <div class="overlay" id="img1">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card margin-pub">
                        <a href="#" id="two" style="z-index: 100000; position: absolute; width: 100% ; height: 100%;">                   
                            </a>
                    <div class="overlay" id="img2">
                    </div>
                    <div class="textoverlay">
                        <h2 class="card-text-center">Data and analytices</h2>

                    </div>
                    <a href="#"> <img class="card-img" src="../../src/app/items/img/data-and-analytics.jpg" alt="Card image cap"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card margin-pub">
                        <a href="#" id="three" style="z-index: 100000; position: absolute; width: 100% ; height: 100%;">                   
                            </a>
                    <a href="#"> <img class="card-img" src="../../src/app/items/img/startups.jpg" alt="Card image cap"></a>
                    <div class="textoverlay">
                        <h2 class="card-text-center">Entrepreneurship</h2>

                    </div>
                    <div class="overlay" id="img3">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card margin-pub">
                        <a href="#" id="four" style="z-index: 100000; position: absolute; width: 100% ; height: 100%;">                   
                            </a>
                    <a href="#"> <img class="card-img" src="../../src/app/items/img/excel.jpg" alt="Card image cap"></a>
                    <div class="textoverlay">
                        <h2 class="card-text-center">Excel</h2>
                    </div>

                    <div class="overlay" id="img4">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card margin-pub">
                        <a href="#" id="five" style="z-index: 100000; position: absolute; width: 100% ; height: 100%;">                   
                            </a>
                    <a href="#"> <img class="card-img" src="../../src/app/items/img/management-leadership.jpg" alt="Card image cap"></a>
                    <div class="textoverlay">
                        <h2 class="card-text-center">management leadership</h2>
                    </div>
                    <div class="overlay" id="img5">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card margin-pub">
                        <a href="#" id="six" style="z-index: 100000; position: absolute; width: 100% ; height: 100%;">                   
                            </a>
                    <a href="#"> <img class="card-img" src="../../src/app/items/img/marketing-and-growth.jpg" alt="Card image cap"></a>
                    <div class="textoverlay">
                        <h2 class="card-text-center">marketing and growth</h2>
                    </div>
                    <div class="overlay" id="img6">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card margin-pub">
                        <a href="#" id="seven" style="z-index: 100000; position: absolute; width: 100% ; height: 100%;">                   
                            </a>
                    <a href="#"> <img class="card-img" src="../../src/app/items/img/personal-finance.jpg" alt="Card image cap"></a>

                    <div class="textoverlay">
                        <h2 class="card-text-center">personal finance</h2>
                    </div>

                    <div class="overlay" id="img7">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card margin-pub">
                        <a href="#" id="eight" style="z-index: 100000; position: absolute; width: 100% ; height: 100%;">                   
                            </a>
                    <a href="#"> <img class="card-img" src="../../src/app/items/img/presentation-skills.jpg" alt="Card image cap"></a>
                    <div class="textoverlay">
                        <h2 class="card-text-center">presentation skills</h2>


                    </div>
                    <div class="overlay" id="img8">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card margin-pub">
                        <a href="#" id="nine" style="z-index: 100000; position: absolute; width: 100% ; height: 100%;">                   
                            </a>
                    <a href="#"> <img class="card-img" src="../../src/app/items/img/project-management.jpg" alt="Card image cap"></a>

                    <div class="textoverlay">
                        <h2 class="card-text-center">project management</h2>

                    </div>
                    <div class="overlay" id="img9">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class=" card padd-lr margin-pub" style="border: none">
                    
                    <a href="#"> <img class="card-img" src="../../src/app/items/img/sales.jpg" alt="Card image cap"></a>
                    <a href="#" class="textoverlay01" id="ten">

                        <h2 class="card-text-center01">sales</h2>
                    </a>
                    <div class="overlay01" id="img10">

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card padd-lr margin-pub" style="border: none">
                    <a href="#"> <img class="card-img" src="../../src/app/items/img/time-management.jpg" alt="Card image cap"></a>
                    <a href="#" class="textoverlay01" id="eleven">
                        <h2 class="card-text-center01">time management</h2>
                    </a>
                    <div class="overlay01" id="img11">
                    </div>
                </div>
            </div>

        </div>

        <div class="row footer">
            <div class="col-lg-2 col-md-6 col-sm-12">
                <a href="#" class="footer-head">
                    <h5>Academics</h5>
                </a>

                <a href="#" class="footer-text"> Applications and Exams</a>
                <br>
                <a href="#" class="footer-text"> math</a>
                <br>
                <a href="#" class="footer-text"> scince</a>
                <br>
                <a href="#" class="footer-text"> writing and reading</a><br>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-12">
                <a href="#" class="footer-head">
                    <h5>Art</h5>
                </a>

                <a href="#" class="footer-text"> Acting and Performing</a>
                <br>
                <a href="#" class="footer-text"> Art and Photography</a>
                <br>

            </div>

            <div class="col-lg-2 col-md-6 col-sm-12">
                <a href="#" class="footer-head">
                    <h5>Business</h5>
                </a>

                <a href="#" class="footer-text">Communication</a>
                <br>
                <a href="#" class="footer-text"> Data and Analytics</a>
                <br>
                <a href="#" class="footer-text"> Entrepreneurship</a>
                <br>
                <a href="#" class="footer-text">exel</a>
                <br>
                <a href="#" class="footer-text"> Management and Leaderships</a>
                <br>
                <a href="#" class="footer-text"> Marketing and Growth</a>
                <br>
                <a href="#" class="footer-text"> Personal Finance</a>
                <br>
                <a href="#" class="footer-text">Presentation Skills</a>
                <br>
                <a href="#" class="footer-text"> Project Management</a>
                <br>
                <a href="#" class="footer-text"> Sales</a>
                <br>
                <a href="#" class="footer-text"> Time Management</a>
                <br>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-12">
                <a href="#" class="footer-head">
                    <h5>Career</h5>
                </a>

                <a href="#" class="footer-text"> AInterview Skills</a>
                <br>
                <a href="#" class="footer-text"> Public Speaking </a>
                <br>
                <a href="#" class="footer-text">Resume</a>
                <br>

            </div>

            <div class="col-lg-2 col-md-6 col-sm-12">
                <a href="#" class="footer-head">
                    <h5>Coding</h5>
                </a>

                <a href="#" class="footer-text">C-Languages</a>
                <br>
                <a href="#" class="footer-text"> Computer Science</a>
                <br>
                <a href="#" class="footer-text"> HTML and CSS</a>
                <br>
                <a href="#" class="footer-text">java</a>
                <br>
                <a href="#" class="footer-text"> java script</a>
                <br>
                <a href="#" class="footer-text"> Marketing and Growth</a>
                <br>
                <a href="#" class="footer-text">Mobile App Development: Android</a>
                <br>
                <a href="#" class="footer-text">Mobile App Development: iOS</a>
                <br>
                <a href="#" class="footer-text"> Other Languages</a>
                <br>
                <a href="#" class="footer-text"> PHP</a>
                <br>
                <a href="#" class="footer-text"> Products and Design</a>
                <br>
                <a href="#" class="footer-text">SQL</a>
                <br>
                <a href="#" class="footer-text"> Python</a>
                <br>
                <a href="#" class="footer-text"> ruby on rules</a>
                <br>
                <a href="#" class="footer-text"> WordPress</a>
            </div>

        </div>

        <div class="row footer">
            <div class="col-lg-2 col-md-6 col-sm-12">
                <a href="#" class="footer-head">
                    <h5>Languages</h5>
                </a>

                <a href="#" class="footer-text"> Accent Reduction</a>
                <br>
                <a href="#" class="footer-text"> All Languages</a>
                <br>
                <a href="#" class="footer-text"> Chinese</a>
                <br>
                <a href="#" class="footer-text"> English</a><br>

                <a href="#" class="footer-text"> French</a>
                <br>
                <a href="#" class="footer-text"> math</a>
                <br>
                <a href="#" class="footer-text"> greman</a>
                <br>
                <a href="#" class="footer-text"> italian</a><br>

                <a href="#" class="footer-text"> spainch</a>

            </div>

            <div class="col-lg-2 col-md-6 col-sm-12">
                <a href="#" class="footer-head">
                    <h5>mind and body</h5>
                </a>

                <a href="#" class="footer-text"> Fitness</a>
                <br>
                <a href="#" class="footer-text"> Food and Cooking</a>
                <br>
                <a href="#" class="footer-text"> Healthy Mind</a>
                <br>
                <a href="#" class="footer-text"> Life Coaching</a>
                <br>
                <a href="#" class="footer-text"> Makeup and Beauty</a>
                <br>
                <a href="#" class="footer-text"> Nutrition</a>
                <br>
                <a href="#" class="footer-text"> Voice Transition</a>
                <br>


            </div>

            <div class="col-lg-2 col-md-6 col-sm-12">
                <a href="#" class="footer-head">
                    <h5>music</h5>
                </a>

                <a href="#" class="footer-text"> guitar</a>
                <br>
                <a href="#" class="footer-text"> Music Production</a>
                <br>
                <a href="#" class="footer-text"> Other Instruments</a>
                <br>
                <a href="#" class="footer-text"> paino</a>
                <br>
                <a href="#" class="footer-text">SFJAZZ Performer Educators</a>
                <br>
                <a href="#" class="footer-text"> Singing</a>
                <br>

            </div>
        </div>

    </div>


