
body{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/* -------------------------------------------------------start-header----------------------------------------------------------*/


/* -------------------------------------------------------end-header----------------------------------------------------------*/



/* -------------------------------------------------------start-career----------------------------------------------------------*/

/* -------------------------------------------------------end-career----------------------------------------------------------*/

/* -------------------------------------------------------start-works----------------------------------------------------------*/


/* -------------------------------------------------------end-works----------------------------------------------------------*/


/* -------------------------------------------------------start-information----------------------------------------------------------*/

/* -------------------------------------------------------end-information----------------------------------------------------------*/

/* -------------------------------------------------------start-teacher----------------------------------------------------------*/










/* -------------------------------------------------------end-teacher----------------------------------------------------------*/
/*--------------------------------------------------------start-submit----------------------------------------------------------*/
.submitt{
    padding: 0px;
    z-index: 2;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
}
.submitt .containerr{
    background-color: #ff6868;
    color: #fff;
    text-align: center;
    
    padding: 40px 0 20px;
    border-radius: 0px;
   
}
.submitt .containerr h1{
    padding: 0 50px;
    font-size: 20px;
    font-weight: bold;
}
.submitt .containerr p{
    margin: 20px 0 40px;
}
.submitt .containerr #signup{
    margin-bottom: 35px;
}
.submitt .containerr form{
    display: none;
    padding-bottom: 40px;
}
.submitt .containerr form input{
    background: none;
    border: none;
    font-family: Pluto Sans,Helvetica,Arial,sans-serif;
    font-size: 17px;
    color: #fff;
    border-bottom: 2.5px solid hsla(0,0%,100%,.5);
    width: 100%;
    margin-bottom: 30px;
    display: block;
}
.submitt .containerr button{
    background: none;
    border-radius: 25px;
    border: 2px solid #fff;
    padding: 8px 30px;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
}
.submitt .containerr  button:hover{
    background-color: #fff;
    color: #ff6868;
}
@media(min-width: 991.5px){
    .submitt{
        transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -moz-transform: translateY(200px);
        padding: 0 100px;
    }
    .submitt .containerr{
        border-radius: 10px;
    }
    .submitt .containerr form input[name ='first_name'] {
        width: 35%;
        margin-right: 2.5%;
        display: inline-block;
    }
    .submitt .containerr form input[name ='email'] {
        width: 35%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        display: inline-block;
    }
    .submitt .containerr h1{
        font-size: 35px;
    }
    
}
/*--------------------------------------------------------end-submit----------------------------------------------------------*/
