<!--The content below is only a placeholder and can be replaced.-->


<section   id='sec'>

    
  
  <app-header></app-header>
  <app-career></app-career>
  <app-works></app-works>
  <app-information></app-information>
  <app-teacher></app-teacher>

  
  <section class="submitt">
      <div class="containerr">
          <h1>Get access to the most effective way to learn</h1>
          <p>Sign up to check out Savvy’s one-to-one teachers.</p>
          <button id="signup" (click) = 'form()'>Sign up</button>
          <form class="col-lg" id="form">
              <input type="text" placeholder="First Name" name="first_name" id="frName" 
              (focus) = 'focus("frName")' (blur) = 'blur("frName")'>
              <input type="email" placeholder="Email" name="email" id="mail" (focus) = 'focus("mail")' (blur) = 'blur("mail")'>
              <button>Submit</button>
          </form>
      </div>
  </section>
  <app-fottor></app-fottor>
  </section>

  
  