<section class="career">
    <h1>Find the right teacher for you</h1>
    <div class="careers container-fluid ">
        <div class="row">
            <div class="col-lg-4 col-sm-6 parent" *ngFor="let cat of categories">
                <a [routerLink]="[ '/items',cat.id]" class="category">
                    <div class="catname  carousel-caption">{{cat.name}}</div>
                    <div class="imgoverlay">
                        <img src="../../src/app/items/img/marketing-and-growth.jpg">
                    </div>

                </a>
            </div>
        </div>
        <div class="more" (click)='off()' id="InOff">
            <a class='in'>VIEW MORE</a>
        </div>
        <div class="morecareer" id="morecareer">
            <div class="submit" id="submit">
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Looking to learn something else?</h4>
                        <p>Someone from our team will help you find the perfect teacher</p>
                    </div>
                    <div class="col-lg-8">
                        <form>
                            <div class="form">
                                <input type="text" placeholder="I want to be able to.." name="I want to be able to" id='I want to be able to' (focus)='focus("I want to be able to")' (blur)='blur("I want to be able to")'><br>
                                <input type="text" placeholder="First name" name="First name" id='First name' (focus)='focus("First name")' (blur)='blur("First name")'>
                                <input type="text" placeholder="Email" name="Email" id='Email' (focus)='focus("Email")' (blur)='blur("Email")'>
                            </div>
                            <div class="divbtnsubmit">
                                <a href="#" class="btnSubmit">
                                  submit
                              </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>