
<div class="first">
    <div class="container">
      <a href="#" class="teachme">TeachMe</a>
    </div>
</div>
<div class="frst">
      <div class="container">My Account</div>
</div>
<div class="data">
    <div class="container">
        <div class="info">My Info</div>
        <div class="details">
            <div class="call">
            You Can Call Me
            <input type="text" class="txtbx" placeholder="x">
            <input type="text" class="txtbx" placeholder="y">
            <input type="submit" class="btnsv" value="Save">
            <input type="submit" class="btncn" value="Cancel">
              </div> 
              <div class="email">
                    <input type="text" class="txtbx" placeholder="x">
                    <input type="submit" class="btnsv" value="Save">
                    <input type="submit" class="btncn" value="Cancel">
              </div> 
              <div class="password">
                    <input type="password" class="txtbx" placeholder="Password">
                    <input type="password" class="txtbx" placeholder="Password Confirmation">
                    <input type="submit" class="btnsv" value="Save">
                    <input type="submit" class="btncn" value="Cancel">
              </div>
        </div>
    
        <div class="pays">
            <div class="container">
                
            </div>
        </div>
    </div>
</div>
<div class="lst">
    <div class="container">
        
    </div>
</div>
