<section class="works">
    <!-- <div>{{users.userId}}</div> -->
    <!-- <div>Users : {{users.title}}</div> -->
    
  <div class="heaad container-fluid" id="bolid" >
      <div class="row bolids">
          <div class="col-lg-6 bolid">
              <h3>How it works</h3>
              <div href='#one' class="1 active">1</div>
              <div href='#two' class="2">2</div>
              <div href='#three' class="3">3</div>
          </div>
      </div>
  </div>
  <div data-spy="scroll" data-target="#bolid" data-offset="0" class="container-fluid">
      <div id='one' class="container-fluid" >
          <div class="row">
              <div class="col-lg-6 one">
                  <h1>Find the right teacher for you</h1>
                  <p>
                      Just pick the time that works for you and you’re confirmed.              
                  </p>
              </div>
              <div class="col-lg-6 oneimg">
                  <img src="../../src/app/img/techer.PNG">
              </div>
          </div>
      </div>
      <div id='two' class="container-fluid">
          <div class="row">
              <div class="col-lg-6 one">
                  <h1>Book your lesson</h1>
                  <p>It’s easy to find the teacher with the right style and experience for you. 
                      All Savvy teachers are skilled and vetted, and you can ask them questions before you book.
                  </p>
              </div>
              <div class="col-lg-6 oneimg">
                  <img src="../../src/app/img/book.PNG">
              </div>
          </div>
      </div>
      <div id='three' class="container-fluid">
              <div class="row">
                  <div class="col-lg-6 one">
                      <h1>Learn from home <br>
                        (or anywhere)</h1>
                      <p>
                          When it’s time for your lesson, click on a link and bam! you’re ready to learn over live, 
                          high quality video chat.
                            
                      </p>
                  </div>
                  <div class="col-lg-6 oneimg">
                      <img src="../../src/app/img/learn.PNG">
                  </div>
              </div>
      </div>
  </div>
</section>